@import "animate";
@import "vars";
@import "libs";
@import "fonts";


//***Global rules
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.major-heading {
    font-family: $font-Forum;
    font-weight: 400;
    font-size: 80px;
    letter-spacing: 5px;
    line-height: 90px;
    text-transform: uppercase;
}

.head-underline::after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -25px;
    background-color: $color-dark-red;
}

.visibility-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

//***END  Global rules

//***Header navigation area
.main-header {
    background-color: $color-dark-bg;

    &__logo-link {
        transition: 0.2s all;

        &:hover,
        .main-header__logo-link:active {
            filter: invert(56%) sepia(31%) saturate(363%) hue-rotate(356deg) brightness(90%) contrast(92%);
        }
    }

    &__nav-wrap {
        min-height: 150px;
        max-width: $content-width;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
}

.logo-name {
    padding-left: 74px;
    background: url(../img/header-logo.svg) no-repeat;
    font-family: $font-Forum;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-nav__list {
    display: flex;
}

.header-nav__item {
    margin-left: 56px;
}

.header-nav__link {
    font-family: Roboto;
    font-weight: 200;
    font-size: 22px;
    letter-spacing: 2px;
    color: #FFFFFF;
    transition: 0.2s all;

    &:hover {
        color: $color-gold;
    }

    &:active {
        color: $color-gold;
    }
}

//***END  Header navigation area

//***Welcome slider area

.welcome {
    height: 810px;
    background-color: $color-dark-bg;

    &__wrapper {
        width: $content-width;
        margin: 0 auto;
        display: flex;
        position: relative;
    }

    &__slogan-wrap {
        max-width: 440px;
        padding-top: 150px;
        position: relative;
        z-index: 10;
    }

    &__slogan {
        margin: 0;
        width: 600px;
        color: #FFFFFF;
    }

    &__sub-slogan {
        margin-top: 25px;
        font-family: $font-Roboto;
        font-weight: 300;
        font-size: 28px;
        letter-spacing: 2px;
        color: #FFFFFF;
    }

    &__link {
        margin-top: 78px;
        padding: 25px 68px;
        display: inline-block;
        border-radius: 9px;
        background-color: $color-dark-red;
        font-family: $font-Roboto;
        font-weight: 200;
        font-size: 22px;
        letter-spacing: 2px;
        color: #FFFFFF;
        transition: 0.2s all;

        &:hover {
            background-color: $color-gold;
        }

        &:active {
            background-color: darken($color-gold, 10);
        }
    }
}

.welcome-slider {
    height: 810px;
    width: 1000px;
    position: relative;

    &::before {
        content: "";
        width: 15%;
        height: 810px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;

        background:
            linear-gradient(90deg,
                #000000 0%,
                rgba(0, 0, 0, 0.5) 50%,
                rgba(0, 0, 0, 0) 100%);
    }

    &__arrows-wrapper {
        margin-right: 40px;
        display: flex;
    }

    &__arrows {
        height: 30px;
        width: 30px;
        margin: 10px;
        border: none;
        cursor: pointer;

        &:hover {
            filter:
                saturate(100%) brightness(0) invert(74%) sepia(41%) saturate(300%) hue-rotate(355deg) brightness(92%) contrast(86%);
        }

        &.arrow-left {
            background: url('../img/arrow-left.svg') center no-repeat;
        }

        &.arrow-right {
            background: url('../img/arrow-right.svg') center no-repeat;
        }
    }

    &__nav {
        height: 120px;
        width: 600px;
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: $color-dark-bg;

        .slick-dots {
            display: flex;

            li {
                line-height: 0;
            }

            button {
                height: 16px;
                width: 16px;
                margin: 0 12px;
                font-size: 0;
                border: none;
                background-color: #fff;
                cursor: pointer;
                transition: all 0.3s;

                &:hover {
                    background-color: #D2B183;
                }
            }

            .slick-active button {
                background-color: #D2B183;
            }
        }
    }

    &__counter {
        margin-left: 40px;

        .counter__item {
            margin: 0 10px;
            font-family: Roboto;
            font-weight: 400;
            font-size: 22px;
            line-height: 40px;
            color: #fff;
        }

        .counter__right {
            position: relative;

            &::before {
                content: "";
                width: 2px;
                height: 20px;
                position: absolute;
                top: 4px;
                left: -13px;
                background-color: #fff;

            }
        }
    }
}

//***END  Welcome slider area

//***Section Visiting
.visiting {

    &__wrap {
        max-width: $content-width;
        margin: 0 auto;
        padding-top: 11px;
    }

    &__head {
        position: relative;
        color: $color-gold;
    }

    &__cards-wrap {
        margin-top: 100px;
    }
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
        margin-bottom: 35px;
    }

    &__link {
        display: block;
        padding-bottom: 40px;

        &:hover .cards__head::after {
            width: 100%;
        }
    }

    &__head {
        margin: 0;
        margin-top: 23px;
        position: relative;
        font-family: $font-Forum;
        font-weight: 400;
        font-size: 32px;
        line-height: 35px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #000000;

        &::after {
            content: "";
            height: 2px;
            width: 300px;
            position: absolute;
            bottom: -9px;
            left: 0;
            background-color: $color-dark-red;
            transition: 0.4s all;
        }
    }

    &__description {
        margin-top: 21px;
        font-family: $font-Roboto;
        font-weight: 200;
        font-size: 22px;
        line-height: 26px;
        color: #000000;
    }

    &__sub-description {
        margin-top: 10px;
        font-family: $font-Roboto;
        font-weight: 200;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
    }
}

//***END  Section Visiting

//***Section explore
.explore {
    background-color: $color-dark-bg;
    color: #FFFFFF;

    &__wrap {
        max-width: $content-width;
        margin: 0 auto;
        padding: 75px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__head {
        margin: 0;
        margin-bottom: 103px;
        position: relative;
        color: #FFFFFF;
    }

    &__text {
        padding-bottom: 25px;
        font-family: $font-Roboto;
        font-weight: 300;
        font-size: 22px;
        line-height: 38px;

        &-wrap {
            width: 659px;
        }

        &-in {
            color: #CAAA7D;
        }
    }

    &__image {
        width: 720px;
        height: 700px;
        overflow: hidden;
        box-sizing: content-box;
        padding-top: 12px;
    }
}

//***END  Section explore

//***Video Section
.video {
    &__wrap {
        margin: 0 auto;
        padding-top: 75px;
        padding-bottom: 65px;
        max-width: $content-width;
    }

    &__description-wrap {
        padding-bottom: 31px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__description-head {
        margin: 0;
        color: $color-gold;
    }

    &__description-text {
        max-width: 720px;
        font-family: $font-Roboto;
        font-weight: 300;
        font-size: 22px;
        line-height: 39px;
    }
}

.video-slider {
    width: 1482px;
    margin-left: -21px;

    &__wrapper {
        width: $content-width;
        padding-top: 42px;
        overflow: hidden;
    }

    &__item {
        iframe {
            margin: 0 21px;
            border: none;
        }
    }

    &__dots-wrapper {
        margin-top: 25px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            height: 20px;
            width: 20px;
            margin: 0 5px;
            border: none;
            font-size: 0;
            background-color: transparent;
            cursor: pointer;
        }

        .slick-arrow:hover {
            filter: saturate(100%) brightness(0%) invert(11%) sepia(23%) saturate(7460%) hue-rotate(343deg) brightness(114%) contrast(113%);
        }

        .slick-prev {
            background: url(../img/video-left.svg) center no-repeat;
        }

        .slick-next {
            background: url(../img/video-right.svg) center no-repeat;
        }

        .slick-dots {
            display: flex;

            .slick-active button {
                background-color: #333333;
            }

            button {
                height: 12px;
                width: 12px;
                margin: 10px;
                padding: 0;
                border: none;
                border-radius: 50%;
                background-color: #999999;
                font-size: 0;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    background-color: $color-dark-red;
                }
            }
        }
    }
}

.video-player {
    margin-top: 45px;

    &__video {
        height: 650px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(../img/video-image.jpg) no-repeat;
    }

    .btn-on-screen {
        height: 220px;
    }

    &__bar {
        width: 100%;
        height: 85px;
        padding: 0 19px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: #000000;
    }

    &__valume-wrap {
        padding-left: 5px;
        padding-right: 10px;
        display: flex;
        align-items: center;
    }
}

.btn {
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: transparent;

    svg path {
        transition: 0.3s all;
    }

    &:hover svg path {
        fill: #777;
    }

    &:active svg path {
        fill: #555;
    }
}

.btn-on-screen {
    &:hover svg path {
        fill: rgb(128, 175, 236);
    }

    &:active svg path {
        fill: rgb(97, 144, 206);
    }
}

.progress-bar {
    background: linear-gradient(to right,
            #710707 0%,
            #710707 40%,
            #C4C4C4 40%,
            #C4C4C4 100%);
    height: 7px;
    width: 820px;
    outline: none;
    cursor: pointer;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.progress-bar::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: pointer;
    background: #FFFFFF;
}

.btn-volume {
    padding-right: 20px;
}

.volume-bar {
    width: 155px;
}

.btn-fullscreen {
    height: 36px;
}

//***END  Video Section

// *** Gallery Section
.gallery {
    background-color: $color-dark-bg;

    &__wrapper {
        height: 2200px;
        width: $content-width;
        margin: 0 auto;
        overflow: hidden;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, #000000 100%);
        z-index: 10;
        position: relative;

        &::after {
            content: "";
            height: 360px;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        }
    }

    &__list {
        height: 2950px;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 25px;
        row-gap: 15px;
    }

    &__item:nth-child(1) {
        margin-top: 50px;
    }

    &__item:nth-child(11) {
        margin-top: 50px;
    }

    &__description-head {
        margin-top: 75px;
        color: #FFFFFF;
    }
}

// ***END Gallery Section

//***Ticket section
.tickets {
    background-color: #FFFFFF;
    color: #000000;

    &__wrap {
        max-width: $content-width;
        margin: 0 auto;
    }

    &__head {
        margin-top: 0;
        padding-top: 77px;
        position: relative;
        color: $color-gold;
    }

    &__sub-wrap {
        margin-top: 102px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
}

.calculator {
    width: 660px;
    display: flex;
    justify-content: space-between;

    &__head {
        font-family: $font-Roboto;
        font-weight: 700;
        font-size: 28px;
        line-height: 33px;

        &-sum {
            margin-top: 64px;
            letter-spacing: 1.65px;
        }
    }

    &__text {
        font-family: $font-Roboto;
        font-weight: 300;
        font-size: 22px;
        line-height: 26px;
        color: #000000;
    }

    &__radio-wrap {
        margin-top: 50px;
    }

    &__radio {
        // @include hidden-object;

        &:checked+.calculator__ticket-type::after {
            content: "";
            height: 10px;
            width: 10px;
            position: absolute;
            left: 4px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 10px;
            background-color: #000000;
        }
    }

    &__ticket-type {
        display: block;
        margin-top: 25px;
        padding-left: 40px;
        position: relative;
        cursor: pointer;

        &::before {
            content: "";
            height: 16px;
            width: 16px;
            position: absolute;
            left: -1px;
            top: 50%;
            transform: translateY(-50%);
            border: 2px #000000 solid;
            border-radius: 15px;
        }
    }

    &__amount-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__number {
        width: 70px;
        padding-left: 11px;
        background-color: transparent;
        border: none;
        font-family: $font-Roboto;
        font-weight: 300;
        font-size: 22px;
        color: #000000;
        text-align: center;
    }

    &__amount-num-wrap {
        height: 90px;
        width: 150px;
        margin-bottom: 11px;
        padding-top: 13px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .calculator__text {
            margin-top: 13px;
        }
    }

    &__num-btn-wrap {
        margin-top: 12px;
        padding: 2px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px #000000 solid;
    }

    &-btn {
        height: 40px;
        font-family: $font-Roboto;
        font-weight: 400;
        font-size: 32px;
        color: #000000;
    }

    &-btn-sum {
        height: 50px;
        width: 175px;
        margin-top: 60px;
        letter-spacing: 2px;
        color: #FFFFFF;
        background-color: #000000;
        border-radius: 2px;
        transition: 0.2s all;

        &:hover {
            color: #000000;
            background-color: $color-gold;
        }

        &:active {
            box-shadow: 0 0 5px $color-gold;
        }
    }
}

.parallax {
    height: 400px;
    width: 100%;
    margin-top: 75px;
    background-image: url(../img/parallax.jpg);
    background-size: cover;
    background-attachment: fixed;
}

//***END  Ticket section

//***Contacts Section
.contacts {
    padding-bottom: 75px;
    position: relative;

    &__head {
        margin-top: 75px;
        position: relative;
        color: $color-gold;
    }

    &__wrap {
        max-width: $content-width;
        margin: 0 auto;
    }

    &__sub-wrap {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
    }

    &__addr-head {
        font-family: $font-Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
    }

    &__address {
        margin-top: 22px;
        padding-bottom: 10px;
    }

    &__list {
        margin-top: 50px;
    }

    &__item {
        margin-top: 25px;
        font-family: $font-Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 26px;
    }

    &__link {
        color: #000;
        transition: 0.2s all;

        &:hover {
            text-shadow: -1px 1px 2px $color-gold;
        }

        &:active {
            text-shadow: none;
        }
    }

    &__map-wrap {
        margin-top: 22px;
    }

}

//***END  Contacts Section

//***Footer
.footer {
    margin-top: -4px;
    padding-top: 77px;
    background-color: $color-dark-bg;

    &__wrap {
        max-width: $content-width;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        margin-top: 7px;
    }

    &__logo-link {
        height: 30px;
        color: #FFFFFF;
        transition: 0.2s all;

        &:hover {
            filter: invert(56%) sepia(31%) saturate(363%) hue-rotate(356deg) brightness(90%) contrast(92%);
        }
    }

    &__nav-wrap {
        display: flex;
    }

    &__nav {
        margin-top: -1px;
        margin-left: -29px;
    }

    &__nav-list {
        display: inline-block;
    }

    &__nav-item {
        margin-left: 170px;
    }

    &__nav-link {
        font-family: $font-Roboto;
        font-weight: 200;
        font-size: 22px;
        line-height: 50px;
        letter-spacing: 2px;
        color: #FFFFFF;
        transition: 0.2s all;

        &:hover {
            color: $color-gold;
        }

        &:active {
            color: $color-gold;
        }
    }

    &__socials {
        margin-bottom: 16px;
        display: flex;
        align-items: flex-end;
    }

    &__socials-link {
        height: 48px;
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 25px;
        border: 1px #FFFFFF solid;
        border-radius: 50%;
        transition: 0.2s all;

        &:hover {
            filter: invert(56%) sepia(31%) saturate(363%) hue-rotate(356deg) brightness(90%) contrast(92%);
        }
    }

    .sub-footer {
        margin-top: 40px;
        border-top: 3px solid #666666;

        &__wrap {
            height: 122px;
            width: $content-width;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__text {
            font-family: $font-Roboto;
            font-weight: 200;
            font-size: 22px;
            line-height: 22px;
            letter-spacing: 2px;
            color: #FFFFFF;
        }
    }
}

.panorama {
    height: 99vh;
    width: 100%;
}

//***Footer
@import "media";