@media (max-width: 1455px) {
    .explore__wrap {
        justify-content: center;
    }

    .explore__text-wrap {
        width: 100%;
        padding-right: 0;
    }

    .tickets .popup-form__wrap {
        padding: 71px 0;
    }

    .tickets .popup-form {
        height: 768px;
        width: 1024px;
    }

}

@media (max-width: 1416px) {
    .cards {
        justify-content: space-around;

    }

}

@media (max-width: 1200px) {
    .gallery__wrapper {
        height: 2000px;
    }

    .calculator {
        width: 390px;
        justify-content: center;

        &__type-wrap {
            display: none;
        }

        &__amount-wrap {
            align-items: start;
        }
    }
}

@media (max-width: 1159px) {
    .video__description-head {
        font-size: 57px;
    }

}



@media (max-width: 1085px) {
    .gallery__wrapper {
        height: 1700px;
    }
}

@media (max-width: 1024px) {

    .major-heading {
        font-size: 50px;
        line-height: 75px;
    }

    .welcome {
        padding-bottom: 67px;

        &__slider {
            margin-top: -10px;
        }

        &__slogan {
            line-height: 90px;

            &-wrap {
                padding-top: 40px;
            }

        }

        &__sub-slogan {
            font-size: 24px;
        }

        &__link {
            min-width: 300px;
            margin-top: 50px;
            padding: 19px 45px;
            font-size: 20px;
        }
    }

    .welcome-slider__nav {
        height: 120px;
        width: 700px;
        padding-left: 158px;
        bottom: -67px;
        align-items: center;
        justify-content: space-around;
    }

    .welcome-slider__nav .slick-dots button {
        height: 12px;
        width: 12px;
    }

    .welcome-slider__arrows-wrapper {
        margin-right: 52px;
    }

    .welcome-slider__counter .counter__item {
        font-size: 19px;
    }

    .welcome-slider__counter {
        margin-right: 8px;
    }

    //***Visiting*********************************
    //********************************************
    .visiting__head {
        margin-top: 52px;
        line-height: 70px;
    }

    .visiting__cards-wrap {
        margin-top: 85px;
        padding: 0 64px;
    }

    .cards {
        &__item {
            width: 330px;
            margin-bottom: 19px;
        }

        &__head {
            margin-top: 20px;
            font-size: 28px;
            letter-spacing: 3px;

            &::after {
                width: 150px;
            }
        }

        &__image {
            max-width: 100%;
        }

        &__description {
            font-size: 20px;
            line-height: 23px;
        }

        &__sub-description {
            font-size: 16px;
            line-height: 19px;
        }
    }

    //***Explore****************************************
    //**************************************************

    .explore {
        &__head {
            margin-bottom: 83px;
            // font-size: 50px;
            // line-height: 75px;
        }

        &__wrap {
            padding: 60px 20px;
        }

        &__text {
            padding-bottom: 1px;
            font-size: 20px;
            line-height: 36px;

            &:last-child {
                display: none;
            }
        }

        .ba-slider {
            margin-top: 60px;
        }
    }

    .video {
        &__wrap {
            padding: 62px 20px 49px;
        }

        &__description-wrap {
            padding-bottom: 39px;
        }

        &__description-head {
            font-size: 50px;
            line-height: 75px;
            letter-spacing: 5px;
        }

        &__description-text {
            display: none;
        }

    }

    .video-player {
        &__video-body {
            padding: 0 0 45% 0;
        }

        .controls-body {
            height: 60px;

        }

        .btn-on-screen {
            position: absolute;
            top: 45%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            font-size: 150px;
        }

        .progress-bar {
            height: 5px;

            &::-webkit-slider-thumb {
                width: 13px;
                height: 13px;
            }
        }

        &__bar {
            padding-right: 25px;

            .btn-volume {
                font-size: 30px;
            }

            .btn-fullscreen {
                font-size: 27px;
            }
        }
    }


    .video-slider__dots-wrapper {
        margin-top: 200px;
    }

    //***Gallery*********************************
    //*******************************************

    .gallery {
        &__wrapper {
            height: 1460px;
        }

        &__description-head {
            margin-top: 61px;
            margin-bottom: 59px;
        }
    }

    //***Tickets*********************************
    //*******************************************

    .tickets__head {
        padding-top: 59px;
    }

    .tickets__sub-wrap {
        margin-top: 84px;
        gap: 50px;
    }

    .tickets__img-wrap {
        width: 700px;
        height: 440px;
    }

    .calculator {
        width: 230px;

        &__amount-num-wrap {
            width: 175px;
            margin-bottom: 25px;
            padding-top: 16px;
        }

        &__num-btn-wrap {
            margin-top: 10px;
            justify-content: space-between;
        }

        &-btn {
            width: 45px;
        }

        &__number {
            padding-left: 5px;
        }

        &__head-sum {
            margin-top: 25px;
        }

        &-btn-sum {
            margin-top: 70px;
        }
    }

    .parallax {
        margin-top: 59px;
    }

    //***Contakts******************************
    //*****************************************

    .contacts {
        padding-bottom: 69px;
        &__head {
            margin-top: 59px;
        }
        &__addr-head {
            font-size: 24px;
            line-height: 28px;
        }
        &__sub-wrap {
            margin-top: 61px;
        }
        &__list {
            margin-top: 35px;
        }
        &__item {
            margin-top: 12px;
            font-size: 20px;
        }
        &__addr-wrap {
            width: 290px;
        }
        &__image {
            max-width: 100%;
            &.size_1920 {
                display: none;
            }
            &.size_1024 {
                display: block;
            }
            &.size_768 {
                display: none;
            }
            &.size_420 {
                display: none;
            }
        }
    }


    //***Footer********************************
    //*****************************************
    .footer {
        padding-top: 53px;
        &__nav {
            width: 309px;
        }
        &__nav-wrap {
            width: 549px;
        }
        &__socials {
            margin-bottom: 12px;
        }
    }


}