@media (max-width: 1455px) {
    .explore__wrap {
        justify-content: center;
    }

    .explore__text-wrap {
        width: 100%;
        padding-right: 0;
    }

    .tickets .popup-form__wrap {
        padding-top: 75px;
        padding-bottom: 37px;
    }

    .tickets .popup-form {
        height: 775px;
        width: 1024px;
    }

}

@media (max-width: 1416px) {
    .cards {
        justify-content: space-around;

    }

}

@media (max-width: 1200px) {
    .gallery__wrapper {
        height: 2000px;
    }

    .calculator {
        width: 390px;
        justify-content: center;

        &__type-wrap {
            display: none;
        }

        &__amount-wrap {
            align-items: start;
        }
    }
}

@media (max-width: 1159px) {
    .video__description-head {
        font-size: 57px;
    }

}

@media (max-width: 1085px) {
    .gallery__wrapper {
        height: 1700px;
    }
}

@media (max-width: 1024px) {

    .major-heading {
        font-size: 50px;
        line-height: 75px;
    }

    .header-nav {
        &__sub-wrap {
            position: absolute;
            top: 164px;
            left: 0;
            transform: translateX(-200%);
            transition: transform 0.3s ease-in-out;
            z-index: 1000;
        }

        &__sub-wrap.active {
            transform: translateX(0%);
        }

        &__burger {
            float: right;
            margin-right: -5px;
            position: relative;
            display: flex;
            z-index: 1000;
        }

        &__list {
            width: 290px;
            padding-left: 55px;
            flex-direction: column;
        }

        &__link {
            height: 48px;
            width: 120px;
            display: block;
            font-size: 20px;
            line-height: 45px;
        }

        &__link::after {
            display: block;
        }
    }

    .welcome {
        padding-bottom: 67px;

        &__slider {
            margin-top: -10px;
        }

        &__slogan {
            line-height: 90px;

            &-wrap {
                padding-top: 40px;
            }

        }

        &__sub-slogan {
            font-size: 24px;
        }

        &__link {
            min-width: 300px;
            margin-top: 50px;
            padding: 19px 45px;
            font-size: 20px;
        }
    }

    .welcome-slider__nav {
        height: 120px;
        width: 700px;
        padding-left: 158px;
        bottom: -67px;
        align-items: center;
        justify-content: space-around;
    }

    .welcome-slider__nav .slick-dots button {
        height: 12px;
        width: 12px;
    }

    .welcome-slider__arrows-wrapper {
        margin-right: 52px;
    }

    .welcome-slider__counter .counter__item {
        font-size: 20px;
    }

    .welcome-slider__counter .counter__right {
        margin-left: 24px;
    }

    .welcome-slider__counter {
        margin-right: 8px;
    }

    //***Visiting*********************************
    //********************************************
    .visiting__head {
        margin-top: 52px;
        line-height: 70px;
    }

    .visiting__cards-wrap {
        margin-top: 85px;
        padding: 0 64px;
    }

    .cards {
        &__item {
            width: 330px;
            margin-bottom: 19px;
        }

        &__head {
            margin-top: 20px;
            font-size: 28px;
            letter-spacing: 3px;

            &::after {
                width: 150px;
            }
        }

        &__image {
            max-width: 100%;
        }

        &__description {
            font-size: 20px;
            line-height: 23px;
        }

        &__sub-description {
            font-size: 16px;
            line-height: 19px;
        }
    }

    //***Explore****************************************
    //**************************************************

    .explore {
        &__head {
            margin-bottom: 83px;
        }

        &__wrap {
            padding: 60px 20px;
        }

        &__text {
            padding-bottom: 1px;
            font-size: 20px;
            line-height: 36px;

            &:last-child {
                display: none;
            }
        }

        .ba-slider {
            margin-top: 60px;
        }
    }

    .video {
        &__wrap {
            padding: 62px 20px 49px;
        }

        &__description-wrap {
            padding-bottom: 39px;
        }

        &__description-head {
            font-size: 50px;
            line-height: 75px;
            letter-spacing: 5px;
        }

        &__description-text {
            display: none;
        }

    }

    .video-player {
        &__video-body {
            padding: 0 0 45% 0;
        }

        .controls-body {
            height: 60px;

        }

        .btn-on-screen {
            position: absolute;
            top: 45%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            font-size: 150px;
        }

        .progress-bar {
            height: 5px;
            width: 60%;

            &::-webkit-slider-thumb {
                width: 13px;
                height: 13px;
            }
        }

        &__valume-wrap {
            width: 220px;
        }

        #volume-bar {
            width: 75%;
            margin-left: 25px;
        }

        &__bar {
            padding: 0 25px;

            .btn-volume {
                font-size: 30px;
            }

            .btn-fullscreen {
                font-size: 27px;
            }
        }
    }

    .video-slider__dots-wrapper {
        margin-top: 200px;
    }

    //***Gallery*********************************
    //*******************************************

    .gallery {
        &__wrapper {
            height: 1460px;
        }

        &__description-head {
            margin-top: 61px;
            margin-bottom: 59px;
        }
    }

    //***Tickets*********************************
    //*******************************************

    .tickets__head {
        padding-top: 59px;
    }

    .tickets__sub-wrap {
        margin-top: 84px;
        gap: 50px;
    }

    .tickets__img-wrap {
        width: 700px;
        height: 440px;
    }

    .calculator {
        width: 230px;

        &__amount-num-wrap {
            width: 175px;
            margin-bottom: 25px;
            padding-top: 16px;
        }

        &__num-btn-wrap {
            margin-top: 10px;
            justify-content: space-between;
        }

        &-btn {
            width: 45px;
        }

        &__number {
            padding-left: 5px;
        }

        &__head-sum {
            margin-top: 25px;
        }

        &-btn-sum {
            margin-top: 70px;
        }
    }

    .parallax {
        margin-top: 59px;
    }

    //***Contakts******************************
    //*****************************************

    .contacts {
        padding-bottom: 69px;

        &__head {
            margin-top: 59px;
        }

        &__addr-head {
            font-size: 24px;
            line-height: 28px;
        }

        &__sub-wrap {
            margin-top: 61px;
        }

        &__list {
            margin-top: 35px;
        }

        &__item {
            margin-top: 12px;
            font-size: 20px;
        }

        &__addr-wrap {
            width: 290px;
        }

        &__image {
            max-width: 100%;

            &.size_1920 {
                display: none;
            }

            &.size_1024 {
                display: block;
            }

            &.size_768 {
                display: none;
            }

            &.size_420 {
                display: none;
            }
        }
    }


    //***Footer********************************
    //*****************************************
    .footer {
        padding-top: 53px;

        &__nav {
            width: 309px;
        }

        &__nav-wrap {
            width: 549px;
        }

        &__socials {
            margin-bottom: 12px;
        }
    }


}

@media (max-width: 990px) {
    .tickets .popup-form {
        // height: 1479px;
        height: 100%;
        width: 590px;
        position: fixed;
        overflow-y: auto;
    }

    .tickets .popup-form__wrap {
        flex-wrap: wrap;
        width: 530px;
    }

    .tickets .popup-form__col-left {
        width: 530px;
    }

    .tickets .popup-form__head {
        margin-top: 56px;
    }

    .tickets .popup-form__input-date {
        width: 251px;
        background-position: 6% 50%;
    }

    .tickets .popup-form__input-time {
        width: 250px;
        background-position: 6% 50%;
    }

    .tickets .popup-form .date-row {
        margin-top: 65px;
    }

    .popup-form input {
        width: 530px;
    }

    .tickets .popup-form__input-name {
        background-position: 3% 50%;
    }

    .tickets .popup-form__input-email {
        background-position: 3% 50%;
    }

    .tickets .popup-form__input-phone {
        background-position: 3% 50%;
    }

    .tickets .popup-form__select {
        background-position: 3% 50%;
    }

    .tickets .popup-form__select {
        width: 530px;
    }

    .tickets .popup-form__counter-set {
        width: 530px;
    }

    .tickets .popup-form__col-right {
        margin-top: 50px;
        padding: 30px 15px 24px 15px;
    }

    .result__card-wrap {
        padding-top: 14px;
    }

    .result__card-back {
        top: 45px;
    }

    .footer {
        padding-top: 43px;
    }

    .result-card__button {
        margin-top: 54px;
        margin-left: 277px;
    }
}

@media (max-width: 960px) {

    .header-nav {
        &__burger {
            margin-top: -10px;
            margin-right: -8px;
        }

        &__sub-wrap {
            width: 100%;
            margin-top: -30px;
            background-color: $color-dark-bg;
        }

        &__bottom {
            margin-top: 20px;
            padding-left: 55px;
            display: block;

            .footer__socials {
                margin: 35px 80px 35px 0;
                margin-bottom: 30px;
                justify-content: center;
            }
        }

        &__gallery {
            max-width: 657px;
            padding-bottom: 15px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            border-bottom: 2px solid #fff;

            &-img-wrap {
                margin-bottom: 20px;
            }

            &-img {
                height: 100%;
                width: 100%;
                display: block;
                object-fit: cover;
            }
        }

    }

    .popup-owerlay-transparent {
        background-color: rgba(0, 0, 0, 0.9);
    }

    .welcome {
        padding-bottom: 10px;

        &__wrapper {
            flex-direction: column;
            align-items: center;
        }

        &__slogan-wrap {
            max-width: 100%;
            width: 100%;
            padding-top: 0;
            padding-bottom: 30px;
            text-align: center;
        }

        &__slogan {
            margin: 0 auto;
        }

        &__link {
            display: none;
        }
    }

    .welcome-slider {
        max-width: 100%;

        &__nav {
            height: 90px;
            width: 520px;
            padding-left: 0;
            position: static;
        }

        &::before {
            display: none;
        }
    }

    .tickets__img-wrap {
        flex-shrink: 1;
    }

    .footer {
        &__wrap {
            padding-right: 110px;
            flex-wrap: wrap;
            justify-content: flex-end;
        }

        &__nav-wrap {
            width: 100%;
        }

        &__socials {
            margin-top: 40px;
        }
    }



}

@media (max-width: 850px) {
    .cards__item {
        width: 280px;
    }
}

@media (max-width: 768px) {

    .major-heading {
        font-size: 40px;
        line-height: 57px;
        letter-spacing: 5px;
    }

    .main-header__nav-wrap {
        min-height: 120px;
    }

    .header-nav__burger {
        margin-right: -5px;
    }

    .welcome {
        padding-bottom: 5px;

        &__slogan {
            width: 330px;
            margin-top: -10px;
            font-size: 40px;
            line-height: 60px;
            letter-spacing: 5px;
        }

        &__sub-slogan {
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 2px;
        }
    }

    .welcome-slider {
        &__nav {
            width: 100%;
            max-width: 520px;
        }

        max-width: 100%;
        margin-top: 18px;

        &__dots {
            padding-left: 11px;
        }

        &__arrows-wrapper {
            margin-right: 42px;
        }
    }

    .visiting {
        &__head {
            margin-top: 30px;
        }

        &__cards-wrap {
            margin-top: 65px;
            padding: 0 39px 40px;
        }
    }

    .cards__head {
        margin-top: 20px;
        font-size: 22px;
        line-height: 25px;
    }

    .cards__description {
        font-size: 18px;
        line-height: 21px;
    }

    .cards__link {
        padding-bottom: 20px;
    }

    .explore__wrap {
        padding: 42px 20px;
    }

    .explore__text {
        display: none;
    }

    .explore .ba-slider {
        margin-top: -16px;
    }

    .explore .ba-slider__separator {
        top: 52%;

        &::before {
            height: 318px;
        }

        &::after {
            height: 346px;
        }
    }


    .video {
        &__wrap {
            padding: 43px 20px 72px;
        }

        &__description-wrap {
            padding-bottom: 19px;
        }
    }

    .video-player .progress-bar {
        width: 100%;
    }

    .video-bar {
        position: absolute;
        top: 0;
        left: -10px;

    }

    .video-player__bar {
        padding-left: 15px;
        padding-right: 18px;
    }

    .video-player__valume-wrap {
        width: 570px;
        max-width: unset;
    }

    .video-player #volume-bar {
        width: 90%;
    }


    .video-player .btn-on-screen {
        top: 44%;
        font-size: 80px;
    }

    .video-slider {
        width: calc(100% + 20px);
        position: absolute;
        left: -10px;

        &__wrapper {
            padding-top: 20px;
        }

        &__item {
            padding: 0 10px;
        }

        &__item-wrap {
            padding: 0 0 56% 0;
            position: relative;
        }

        &__dots-wrapper {
            margin-top: 209px;
        }

        &__dots-wrapper .slick-dots button {
            height: 10px;
            width: 10px;
        }
    }

    .gallery__wrapper {
        height: 1220px;
    }

    .gallery__description-head {
        margin-top: 42px;
        margin-bottom: 41px;
    }

    .gallery__list {
        column-gap: 28px;
    }

    .gallery__col {
        width: 48%;
    }

    .gallery__col--right {
        display: none;
    }

    .tickets__head {
        padding-top: 41px;
    }

    .tickets__sub-wrap {
        margin-top: 65px;
    }

    .tickets__img-wrap {
        width: 444px;
        height: 340px;
    }

    .calculator {
        padding-right: 43px;
    }

    .calculator__amount-num-wrap {
        margin-bottom: 20px;
        padding-top: 26px;
    }

    .calculator__head-sum {
        margin-top: 54px;
    }

    .calculator-btn-sum {
        margin-top: 40px;
    }

    .parallax {
        height: 300px;
        margin-top: 40px;
    }

    .contacts__head {
        margin-top: 41px;
    }

    .contacts__sub-wrap {
        flex-wrap: wrap;
    }

    .contacts__image {

        &.size_1920 {
            display: none;
        }

        &.size_1024 {
            display: none;
        }

        &.size_768 {
            display: block;
        }

        &.size_420 {
            display: none;
        }
    }

    .contacts__map-wrap {
        margin-top: 30px;
    }

    .contacts__addr-head {
        font-size: 20px;
        line-height: 23px;
    }

    .contacts__list {
        margin-top: 41px;
    }

    .contacts__address {
        margin-top: 4px;
    }

    .contacts__item {
        font-size: 18px;
        line-height: 23px;
    }

    .footer__nav {
        width: 341px;
        margin-top: 3px;
        margin-left: 40px;

        &-wrap {
            flex-wrap: wrap;
        }
    }

    .footer__nav-link {
        font-size: 18px;
        line-height: 46px;
    }

    .footer__socials {
        margin-top: 37px;
    }

    .footer .sub-footer {
        margin-top: 27px;
    }

    .footer .sub-footer__wrap {
        height: 102px;
    }
}

@media (max-width: 760px) {

    .header-nav__sub-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-nav__bottom {
        width: 320px;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-nav__list {
        padding-left: 0;
    }



    .header-nav__bottom .footer__socials {
        margin-right: 0;
        width: 280px;
        display: flex;
        justify-content: space-between;
    }


    .header-nav__list {
        width: 310px;
    }

    .header-nav__gallery {
        width: 310px;
        flex-wrap: nowrap;
    }

    .header-nav__gallery-img-wrap {
        height: 95px;
        width: 95px;
    }


    .explore .ba-slider {
        max-width: 580px;
    }

    .explore .ba-slider__image {
        max-width: 580px;
    }

    .explore .ba-slider__separator {
        top: 50%;
    }

    .explore .ba-slider__separator::before,
    .explore .ba-slider__separator::after {
        height: 262px;
    }

    .footer__socials-link {
        margin-left: 0;
    }

    .footer__wrap .footer__socials {
        width: 300px;
        display: flex;
        justify-content: space-between;
    }

}

@media (max-width: 710px) {
    .nav-big {
        margin-top: 25px;
    }
}

@media (max-width: 630px) {
    .explore .ba-slider {
        max-width: 440px;
    }

    .explore .ba-slider__image {
        max-width: 440px;
    }

    .explore .ba-slider__separator::before,
    .explore .ba-slider__separator::after {
        height: 194px;
    }

    .tickets__sub-wrap {
        flex-direction: column;
        align-items: center;
    }

    .calculator {
        padding-right: 0;
    }

    .sub-footer__text:nth-child(2) {
        display: none;
    }
}

@media (max-width: 580px) {
    .tickets .popup-form {
        width: 420px;
    }

    .tickets .popup-form__wrap {
        width: 360px;
    }

    .tickets .popup-form__head {
        margin-top: 49px;
        font-size: 32px;
        line-height: 30px;
    }

    .tickets .popup-form__head::before {
        top: -44px;
    }

    .head-underline::after {
        bottom: -25px;
    }

    .tickets .popup-form .date-row {
        flex-direction: column;
    }

    .popup-form input,
    .tickets .popup-form__input-date,
    .tickets .popup-form__input-time,
    .tickets .popup-form__select,
    .tickets .popup-form__counter-set {
        width: 360px;
    }

    .tickets .popup-form__select,
    .tickets .popup-form__input-phone,
    .tickets .popup-form__input-email,
    .tickets .popup-form__input-name,
    .tickets .popup-form__input-time,
    .tickets .popup-form__input-date {
        background-position: 4% 50%;
    }

    .result__right {
        width: 119px;
    }

    .result__img {
        width: 100%;
        margin-bottom: 71px;
    }

    .result__date,
    .result__time,
    .result__type {
        margin-top: 4px;
    }

    .result__type {
        margin-bottom: 25px;
    }

    .result__card-front {
        width: initial;
    }

    .result__card-back {
        top: 252px;
        width: 100%;
        height: 208px;
    }

    .result__card-front .card-front__cardholder {
        width: 100%;
    }

    .result-card__button {
        margin-top: 275px;
        margin-left: 109px;
    }
}

@media (max-width: 480px) {
    .explore .ba-slider {
        max-width: 380px;
    }

    .explore .ba-slider__image {
        max-width: 380px;
    }

    .explore .ba-slider__separator::before,
    .explore .ba-slider__separator::after {
        height: 164px;
    }

    .tickets__img-wrap {
        max-width: 380px;
        width: 100%;
        height: 160px;
    }

    .footer__wrap {
        padding-right: 20px;
    }
}

@media (max-width: 420px) {
    .logo-name {
        padding-left: 55px;
        font-size: 16px;
        line-height: 18px;
        background-size: 20%;
    }

    .header-nav__burger {
        margin-top: -1px;
        margin-right: -4px;
    }

    .header-nav__sub-wrap {
        margin-top: -50px;
    }

    .header-nav__gallery {
        padding-bottom: 0px;
    }

    .header-nav__bottom .footer__socials {
        width: 265px;
        margin: 22px 5px 35px 0;
    }

    .main-header__nav-wrap {
        min-height: 90px;
    }

    .welcome__slogan {
        margin-top: 5px;
        font-size: 28px;
        line-height: 40px;
    }

    .welcome__sub-slogan {
        margin-top: 24px;
        font-size: 16px;
    }

    .welcome-slider {
        &__nav {
            height: 70px;
            justify-content: center;
        }

        &__counter {
            margin-left: 16px;
        }

        &__counter .counter__item {
            font-size: 15px;
        }

        &__nav .slick-dots button {
            height: 7px;
            width: 7px;
            margin: 0 5px;
            padding: 0;
        }

        &__dots {
            padding-left: 0px;
        }

        &__counter .counter__right {
            margin-left: 15px;
        }

        &__counter .counter__right::before {
            height: 13px;
            top: 14px;
            left: -8px;
        }

        &__arrows-wrapper {
            margin-right: 20px;
        }

        &__arrows {
            width: 20px;
            margin: 7px;
        }

        &__arrows.arrow-left {
            background: url(../img/arrow-left.svg) left no-repeat;
        }

        &__arrows.arrow-right {
            background: url(../img/arrow-right.svg) right no-repeat;
        }

        &__nav .slick-dots {
            margin-right: 14px;
            margin-left: 11px;
        }
    }

    .major-heading {
        width: 100%;
        font-size: 28px;
        line-height: 40px;
    }

    .head-underline::after {
        bottom: -22px;
    }

    .visiting__cards-wrap {
        margin-top: 61px;
        padding-bottom: 1px;
    }

    .cards__head {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 5px;
    }

    .cards__description {
        font-size: 16px;
        line-height: 20px;
    }

    .cards__head::after {
        bottom: -12px;
    }

    .explore .ba-slider {
        margin-top: -23px;
    }

    .explore .ba-slider__separator {
        height: 20px;
        width: 20px;
        top: 52%;
        border: 2px #fff solid;

        &::before {
            height: 168px;
            width: 2px;
            top: 17px;
        }

        &::after {
            height: 182px;
            width: 2px;
            bottom: 17px;
        }
    }

    .video {
        &__wrap {
            padding: 36px 20px 30px;
        }
    }

    .video-player__video-body {
        padding: 0 0 45% 0;
    }

    .video-player .btn-on-screen {
        top: 38%;
        font-size: 50px;
    }

    .video-player .controls-body {
        height: 57px;
    }

    .video-player .progress-bar {
        height: 4px;
    }

    .video-player__valume-wrap {
        max-width: 265px;
    }

    .video-player__bar .btn {
        font-size: 18px;
        line-height: 22px;
    }

    .video-player__bar {
        padding-left: 8px;
        padding-right: 10px;
    }

    .video-player .progress-bar::-webkit-slider-thumb {
        width: 10px;
        height: 10px;
    }

    #volume-bar {
        width: 202px;
    }

    .video-slider__wrapper {
        padding-top: 38px;
    }

    .video-slider__dots-wrapper {
        margin-top: 130px;
    }

    .video-slider__dots-wrapper .slick-dots button {
        height: 8px;
        width: 8px;
    }

    .video-slider__dots-wrapper .slick-prev {
        background-size: 40%;
    }

    .video-slider__dots-wrapper .slick-next {
        background-size: 40%;
    }

    .gallery__wrapper {
        height: 758px;
    }

    .tickets__sub-wrap {
        margin-top: 63px;
    }

    .calculator__amount-wrap {
        margin-top: -11px;
        align-items: center;
    }

    .calculator__head {
        font-size: 16px;
        line-height: 20px;
    }

    .calculator__text {
        font-size: 16px;
    }

    .calculator__amount-num-wrap {
        margin-bottom: 14px;
        padding-top: 4px;
    }

    .calculator__head {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 1px
    }

    .calculator__head-sum {
        margin-top: 38px;
    }

    .contacts__addr-head {
        font-size: 16px;
        line-height: 19px;
    }

    .contacts__address {
        margin-top: 1px;
    }

    .contacts__addr-wrap {
        width: 260px;
    }

    .contacts__list {
        margin-top: 40px;
    }

    .contacts__item {
        font-size: 16px;
        line-height: 22px;
    }

    .contacts__image {

        &.size_1920 {
            display: none;
        }

        &.size_1024 {
            display: none;
        }

        &.size_768 {
            display: none;
        }

        &.size_420 {
            display: block;
        }
    }

    .contacts__map-wrap {
        margin-top: 28px;
    }

    .contacts {
        padding-bottom: 43px;
    }

    .footer {
        padding-top: 34px;

        .nav-big {
            display: none;
        }

        .nav-small {
            display: flex;
        }
    }

    .logo-name {
        padding-left: 49px;
        background-size: 22%;
    }

    .footer__wrap {
        justify-content: center;
    }

    .footer__nav {
        margin-left: 0;
    }

    .footer__nav {
        width: 100%;
        margin-top: 21px;
    }

    .footer__nav-link {
        font-size: 16px;
        line-height: 50px;
    }

    .footer__socials {
        margin-top: 23px;
    }

    .footer__socials-link {
        margin-left: 5px;
    }

    .footer__wrap .footer__socials {
        width: 268px;
    }

}

@media (max-width: 400px) {



    .header-nav__bottom {
        padding-left: 0;
    }

    .header-nav__sub-wrap.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-nav__bottom .footer__socials {
        margin: 23px 0px 35px 0;
    }

    .header-nav__gallery {
        width: 300px;
    }

    .header-nav__list {
        padding-left: 20px;
    }

    .explore .ba-slider {
        max-width: 280px;
    }

    .explore .ba-slider__image {
        max-width: 280px;
    }

    .explore .ba-slider__separator::before {
        height: 122px;
    }

    .explore .ba-slider__separator::after {
        height: 132px;
    }

    .tickets .popup-form {
        width: 320px;
    }

    .tickets .popup-form__wrap {
        width: 280px;
    }

    .popup-form input,
    .tickets .popup-form__input-date,
    .tickets .popup-form__input-time,
    .tickets .popup-form__select,
    .tickets .popup-form__counter-set {
        width: 280px;
    }

    .result-card__button {
        margin-left: 0px;
    }

    .result__right {
        width: 80px;
    }

    .result__img {
        width: 100%;
        margin-bottom: 129px;
    }
}